# Common settings ----------------------------------------------------

Host         *
SendEnv      LANG LC_*
PubkeyAuthentication yes
IdentityFile  ~/.ssh/keys/file

# Company ---------------------------------------------------------------

Host         cmp-* sp-* km-*
ForwardAgent yes

Host         cmp-ab cmp-ab-forward
HostName     asrv110.qwarta.ru

Host         cmp-ab cmp-ab-forward
User         a11013

Host         cmp-ab-forward
#   Машины:       Удаленная      Локальная
RemoteForward  127.0.0.1:9000  127.0.0.1:9000
LocalForward   127.0.0.1:9906  127.0.0.1:3306

# -- SAMPLE ----------------------------------------------------------------

Host         host host-x host-forward
HostName     dev.host.ru
Port         3000
User         username
SendEnv      LANG LC_*
PubkeyAuthentication yes
IdentityFile  ~/.ssh/id_rsa

Host         host-x
# ForwardAgent  yes
ForwardX11        yes
ForwardX11Trusted yes

# Чтобы ходить на машину B через машину A
Host hostB
	ProxyCommand ssh hostA -W %h:%p -q
	# Необязательные параметры
	User     userB       # Пользователь по-умолчанию для машины B
	Hostname 192.168.1.1 # Внутренний IP машины B в сети машины A
	Port     2222        # Порт для захода на машину B


Host         host-forward
#   Машины:       Локальная      Удаленная
LocalForward   127.0.0.1:9906  127.0.0.1:3306
LocalForward   127.0.0.1:37017 127.0.0.1:27017
#   Машины:       Удаленная      Локальная
RemoteForward  127.0.0.1:9000  127.0.0.1:9001

# -- HELP ------------------------------------------------------------------

# Host         host host-x          - Алиасы хоста
# HostName     hostname.org         - Имя хоста
# Port         3000                 - Порт ssh демона на хосте
# User         username             - Пользователь подключения
# PasswordAuthentication no         - Запрет использования пароля
# PubkeyAuthentication yes          - Использовать ключ для аутентификации
# IdentityFile ~/.ssh/id_rsa        - Путь к приватному ключу на локальной машине
# ForwardAgent yes                  - Включить форварлинг ключей ssh_agent'a
# ForwardX11 yes                    - Включить форвардинг X-сервера
# ForwardX11Trusted yes             - Доверять форвардингу X-сервера
# SendEnv      LC_*                 - Послать переменные окружения
# SendEnv      LANG                 - Послать переменные окружения для локали

#  LogLevel              ERROR      - Уровень вывода логов No message 'Permanently added ... (ECDSA) to the list of known hosts'
#  StrictHostKeyChecking no         - Не проверять host в known hosts
#  UserKnownHostsFile=/dev/null     - Прям совсем не проверять host в known hosts


# Влючение проброса портов
#   Машины:          Локальная      Удаленная
# LocalForward   127.0.0.1:9906   127.0.0.1:3306  - MySQL    локальный клиент 9906
# LocalForward   127.0.0.1:37017  127.0.0.1:27017 - MongoDB  локальный клиент 37017
# LocalForward   127.0.0.1:80     127.0.0.1:80    - WWW      прописать имя хоста в hosts как 127.0.0.1
#   Машины:          Удаленная      Локальная
# RemoteForward  127.0.0.1:9000  127.0.0.1:9001   - XDEBUG   phpStorm: 9001, xDebug: 9000
